/*  class use garyo vaney jaha ni use garna milx dherai choti, reusable */
.classdiv {
    background: red;
    border-radius: 50px;

}
#test{
    color: blue;
}

/*  id  method chai rarely use hunx */
#id1 { 
    background: pink;
}
      
.testdiv {
    display: flex;
    gap: 20px;
    border: 2px solid green;
    /* margin gives space to inside of the box */
    padding: 50px; 
    /*  margin gives space to outside of the box */
    margin: 50px;
}

.test2 {
    border: 2px solid red;
}