body{
    padding: 0px;
    margin: 0px;
    background-color: #faf7ec;
    /* width: 100vw; */
    overflow-x: hidden;
}

.maindiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 50px;
    font-size: 20px;
}

.logo{
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.items{
    display: flex;
    gap: 30px;
    /* justify-content: space-between; */
}

.login{
    background-color: #fd975b;
    height: 40px;
    width: 70px;
    border-radius: 5px;
    color: white;
    border: none;

}
.login:hover{
    cursor: pointer;
}

.home {
    color: #fd975b;
}

.hero{
    margin-top: 10vh;

    display: flex;
    flex-direction: column;
    gap: 10px ;
    align-items: center;
}
.headingtext{
    font-size: 60px;
}
.hero-para{
    margin-top: 10vh;
    font-size: 20px;
}

.button1{
    height: 8vh;
    width: 10vw;
    background-color: #0b363d;
    color: white;
}
.button2{
    height: 8vh;
    width: 10vw;
}
.dashboard {
    height: 60vh;
    width: 70vw;
    margin-top: 15vh;
    overflow: hidden;

}
.custom_wave{
    position: absolute;
    bottom: -600px;
}

/* .all_image{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.global_img{
    height: 200px;
    width: 300px;
} */

.all_img{
    margin: 15vh 5vw 0vh 5vw;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.each_img{
    height: 200px;
    width: 100px;
}

.main_section{
    display: flex;
    margin: 10vh 3vw 0vh 3vw;
}
.left_section{
    width: 50vw;
}

 /* .left_section p{
    color: #fd975b;
    font-weight: 700; 
} */
.left_section h1{
    font-size: 40px;
    font-weight: 800;
}
.productivity{
    color: #fd975b;
}
.card_section{
    display: flex;
    gap: 30px;
    margin-top: 15vh;
}

.cards{
    height: 35vh;
    width: 16vw;
    background-color: #f2eddd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    gap: 30px;
    padding: 30px;
}
/* .svg_icon{
    padding-left: 0px;
} */
.right_section{
    width: 50vw;
     display: flex;
    gap: 20px; 
}
.leftdiv{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.rightdiv{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.appoitment{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* .first_child{
    height: 10vh;
    width: 20vw;
    background-color: aqua;
    display: flex;
    gap: 20px;
}

.second_child{
    margin-top: 20vh;
    height: 10vh;
    width: 20vw;
    background-color: aqua;
    display: flex;
    gap: 20px;
} */

.container{
    margin-top: 20vh;
    padding: 40px 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f2eddd;
}

.yellow{
    color: #fd975b;
}
.big_size{
    font-size: 40px;
}
.global{
    padding: 10vh 3vw;
}
.holder{
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    gap: 5vw;
    /* text-decoration-color: #0b363d; */
}
.child{
    padding-left: 0px;
   
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.svgcolor{
    color: #f16b1d;
}
.category{

    height: 8vh;
    width: 12vw;
    margin-top: 10vh;
    background-color: #0b363d;
    color: white;
    border-radius: 5px;

}
.lkjhg{
    display: flex;
    align-items: center;
}
.akcj{
    display: flex;
    justify-content: space-between;
}

.imageme{
    height: 50vh;
    width: 50vw;
}
 .performance_metrics{
    margin: 20vh; 
    padding: 40px 50px;
    display: flex;
}

/* .dashboard_image{
     object-fit: contain; 
    height: 100px;
    width: 200px;
}
.rightside_content{
    width: 50vw;
}  */


.whole_container{
    padding: 10vh 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card_section{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.each_card{
    width: 33.3%;
    padding: 5vh;
    border: 1px solid yellow;
    border-radius: 10px;
}

.get_started{
    margin-top: 30px;
    color: blue;
    border-radius: 5px;
    padding: 4px;
}